# ==========================
#   PYTHON BASICS
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
#   NOTEBOOKS
# ==========================
*.ipynb
.ipynb_checkpoints/

# ==========================
#   MODEL FILES
# ==========================
*.pt
*.pth
*.ckpt

# ==========================
#   DATA + PICKLES
# ==========================
*.pkl
*.npz
*.npy

# Dossiers internes à ignorer
donnees_sar/
donnees_sar_changes/
donnees_sar_aeqd*/
data_coloc_pkl/
outputs/
ML_IR_SAR/train_history_ir_sar/
train_history_ir_sar/
excels/
wiçthout_metrics
src_new

# ==========================
#   TEMPORARY & LOG FILES
# ==========================
tmp*/
*tmp*
*history*
*.save*
*.yaml*
config.yaml
first_test/

# ==========================
#   GIT / OS
# ==========================
.DS_Store
.gitignore.save
