# ==========================
#   PYTHON BASICS
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
#   NOTEBOOKS
# ==========================
.ipynb_checkpoints/

# ==========================
#   MODEL FILES
# ==========================
*.pt
*.pth
*.ckpt

# ==========================
#   DATA + PICKLES
# ==========================
*.pkl
*.npz
*.npy
*.vscode
# Dossiers internes à ignorer
donnees_sar/
donnees_sar_changes/
donnees_sar_aeqd*/
data_coloc_pkl/
outputs/
ML_IR_SAR/train_history_ir_sar/
train_history_ir_sar/
excels/
*metrics*
src_new
*tests*
*csv_data*
*compare_*
gpm_sar
results_with_shear
unetsargeo
old_experiments
UNETSARGEO
notebooks
era5
*sar_aeqd*
*era5_single_levels*
regridded_era5


# ==========================
#   TEMPORARY & LOG FILES
# ==========================
tmp*/
*tmp*
*history*
*.save*
*.yaml*
config.yaml
first_test/
combined_loss

# ==========================
#   GIT / OS
# ==========================
.DS_Store
.gitignore.save
cyclone_not_in_tcprimed.csv
without_owiWindSpeed/without_owiWindSpeed.csv
.github/copilot-instructions.md
radial_weights.png
IBTrACS.since1980.v04r01.nc
experiments_results.csv
bad_irwin_files.txt
